# --- Gentleman App---
# GENTLEMAN_APP_NAME=Gentleman
# GENTLEMAN_APP_ORIGIN=http://localhost:8000
# GENTLEMAN_APP_AGENTS_DIR=agents
# GENTLEMAN_APP_EXPOSE='["agui","a2a","mcp"]'

# --- Gentleman Remote---
# GENTLEMAN_REMOTE_MAX_HOP=8

# --- Gentleman Cors---
# GENTLEMAN_CORS_ALLOW_ORIGINS='["*"]'

# --- Gentleman MCP---
# GENTLEMAN_MCP_ALLOWED_HOSTS='[]'
# GENTLEMAN_MCP_ALLOWED_ORIGINS='[]'

# --- Anthropic ---
# ANTHROPIC_API_KEY=sk-ant-api03-REPLACE_ME

# --- OpenAI ---
# OPENAI_API_KEY=

# --- Amazon Bedrock ---
# AWS_DEFAULT_REGION=
# AWS_BEARER_TOKEN_BEDROCK=

# --- Ollama ---
# OLLAMA_BASE_URL=http://localhost:11434/v1
