# --- Gentleman App---
#GENTLEMAN_APP_NAME=Gentleman
#GENTLEMAN_APP_ORIGIN=http://localhost:8001
#GENTLEMAN_APP_AGENTS_DIR=agents

# --- Gentleman Cors---
GENTLEMAN_CORS_ALLOW_ORIGINS=["http://localhost:5173"]

# --- Anthropic ---
ANTHROPIC_API_KEY=sk-ant-api03-REPLACE_ME

# --- OpenAI ---
# OPENAI_API_KEY=

# --- Amazon Bedrock ---
# AWS_DEFAULT_REGION=
# AWS_BEARER_TOKEN_BEDROCK=

# --- Ollama ---
# OLLAMA_BASE_URL=http://localhost:11434/v1
